.duIoak {
    width: 1136px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    min-height: calc(100vh - 384px);
    margin: 40px auto auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.krSLNl {
    display: grid;
    grid-template-columns: repeat(24, 32px);
    grid-auto-rows: max-content;
    grid-column: 1 / 25;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.grid-child {
    grid-column: 1 / 19;
}